@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-auto px-0">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav flex-column text-center mx-4">
                <h4 class="navbar-text">Admin panel</h4>
                <hr class="w-100 mt-0" style="border: 1px solid white"/>
                <a class="nav-link active" href="#"><h5>todo</h5></a>
                <a asp-controller="Ingredients" asp-action="GetIngredientList" class="nav-link"><h5>Ingredients</h5></a>
                <a class="nav-link" href="#"><h5>todo</h5></a>
            </div>
        </nav>
    </div>
    <div class="col m-4">
        @RenderBody()
    </div>
</div>

<script src="~/js/showAdminPanel.js"></script>