@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-auto px-0">
        <partial name="Layout/_AdminNavigation" />
    </div>
    <div class="col m-4">
        @RenderBody()
    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)

    <script src="~/js/showAdminPanel.js"></script>
}
