<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Dietetic social networking site">

    <link href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <title>Dieteticer</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center bg-primary">
            <div class="col-md-1"></div>
            <div class="col-md-auto py-3">
                <h3>Dieteticer</h3>
            </div>
            <div class="col"></div>
            <div class="col-md-auto">
                <h5 class="mt-1">Kamil Dołęgiewicz</h5>
            </div>
            <div class="col-md-auto">
                <i class="fas fa-shield-alt fa-lg mx-3"></i>
                <i class="fas fa-bell fa-lg mx-3"></i>
                <i class="fas fa-envelope fa-lg mx-3"></i>
                <i class="fas fa-users fa-lg mx-3"></i>
                <i class="fas fa-cog fa-lg ml-3"></i>
                <i class="fas fa-caret-down fa-lg"></i>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 bg-danger">User profile</div>
            <div class="col-md-6 bg-success">
                <div class="media">
                    <img class="mr-3" src="http://icons.iconarchive.com/icons/hopstarter/3d-cartoon-vol3/64/Axialis-Icon-Workshop-Classic-icon.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        
                        <div class="media mt-3">
                            <a class="pr-3" href="#">
                                <img src="http://icons.iconarchive.com/icons/hopstarter/3d-cartoon-vol3/64/Axialis-Icon-Workshop-Classic-icon.png" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0">Media heading</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-2 bg-danger">dsa</div>
            <div class="col-md-1 bg-info">da</div>
        </div>

        <div>@RenderBody()</div>

    </div>

    <!-- Optional JavaScript first -->

    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
