@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        <partial name="Layout/_UserProfile" />
    </div>
    <div class="col-6 bg-success" style="position:relative">
        @RenderBody()
    </div>
    <div class="col-3 bg-danger"></div>
</div>
