:root {
    --main-color-gray: #787e84;
    --main-color-gray-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
    --main-color-dark: #343a40;
    --main-color-dark-hover: #23272b;
    --main-color-dark-border: #1d2124;
}

/*** Validation error ***/
.field-validation-error {
    color: #e80c4d;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

/*** Pagination ***/
.page-link {
    color: var(--main-color-dark);
}

.page-link:hover {
    color: var(--main-color-dark-hover);
}

.page-link:focus {
    box-shadow: var(--main-color-gray-shadow);
}

.page-item.active .page-link {
    color: #fff;
    background-color: var(--main-color-dark);
    border-color: var(--main-color-dark-border);
}

.page-item.disabled .page-link {
    color: #8e979f;
}

/*** Inputs ***/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--main-color-gray);
    outline: 0;
    box-shadow: var(--main-color-gray-shadow);
}

/*** Custom checkbox ***/
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--main-color-gray);
    background-color: var(--main-color-gray);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: var(--main-color-gray-shadow);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: var(--main-color-gray);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: var(--main-color-gray);
}

/*** Custom select ***/
.custom-select:focus {
    border-color: var(--main-color-gray);
    box-shadow: var(--main-color-gray-shadow);
}

.dropdown-item.active {
    background: var(--main-color-gray);
}

.dropdown-item:focus {
    background: var(--main-color-gray);
    outline-color: black;
}

 .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.dropdown-toggle::after,
.dropup .dropdown-toggle::after {
    display: none;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #6c757d;
}

/*** Custom file input ***/
.custom-file-input:focus ~ .custom-file-label {
    border-color: var(--main-color-gray);
    box-shadow: var(--main-color-gray-shadow);
}

/*** Custom ***/
.clickable {
    cursor: pointer;
}

.badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: 15px;
}

.no-link {
    color: inherit !important;
    text-decoration: none !important;
}