/*** Validation error ***/
.field-validation-error {
    color: #e80c4d;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

/*** Pagination ***/
.page-link {
    color: #343a40;
}

.page-link:hover {
    color: #232930;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

.page-item.active .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.page-item.disabled .page-link {
    color: #8e979f;
}

/*** Inputs ***/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #787e84;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

/*** Custom checkbox ***/
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #787e84;
    background-color: #787e84;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #787e84;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: #787e84;
    border-color: #787e84;
}
