<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav flex-column text-center mx-4">
        <h4 class="navbar-text">Admin panel</h4>
        <hr class="w-100 mt-0" style="border: 1px solid white" />

        <h5>
            <a asp-controller="Users" asp-action="GetUserList" class="nav-link">Users</a>
        </h5>
        <h5>
            <a asp-controller="Roles" asp-action="GetRoleList" class="nav-link">Roles</a>
        </h5>
        <h5>
            <a asp-controller="Countries" asp-action="GetCountryList" class="nav-link">Countries</a>
        </h5>
        <h5>
            <a asp-controller="Reports" asp-action="GetReportList" class="nav-link">Reports</a>
        </h5>
</div>
</nav>
