<div id="mainRow" class="row align-items-center bg-primary">
    <div class="col-md-1"></div>
    <div class="col-md-auto py-3">
        <a asp-controller="Home" asp-action="Index" style="color:white; text-decoration:none">
            <h3 id="mainHeading" style="font-weight:bold">Dieteticer</h3>
        </a>
    </div>
    <div class="col"></div>
    <div class="col-md-auto">
        <h5 class="mt-1">Kamil Dołęgiewicz</h5>
    </div>
    <div class="col-md-auto">
        <a asp-controller="Home" asp-action="AdminPanel" style="color: inherit; text-decoration:none">
            <i class="fas fa-shield-alt fa-lg mx-3"></i>
        </a>
        <i class="fas fa-bell fa-lg mx-3"></i>
        <i class="fas fa-envelope fa-lg mx-3"></i>
        <i class="fas fa-users fa-lg mx-3"></i>
        <i class="fas fa-cog fa-lg ml-3"></i>
        <i class="fas fa-caret-down fa-lg"></i>
    </div>
    <div class="col-md-1"></div>
</div>
