@using DieteticSNS.Application.Common.Interfaces
@inject ICurrentUserService currentUserService

<div id="mainRow" class="row align-items-center bg-primary">
    <div class="col-1"></div>
    <div class="col-auto py-3">
        <a asp-controller="Home" asp-action="Index" class="text-white" style="text-decoration:none">
            <h3 id="mainHeading" style="font-weight:bold">Dieteticer</h3>
        </a>
    </div>
    <div class="col"></div>
    <div class="col-auto">
        <h5 class="mt-1">@currentUserService.GetUserFullName()</h5>   
    </div>
    <div class="col-auto">
        <a asp-controller="Home" asp-action="AdminPanel" style="color: inherit; text-decoration:none">
            <i class="fas fa-shield-alt fa-lg mx-3"></i>
        </a>
        <i class="fas fa-bell fa-lg mx-3"></i>
        <i class="fas fa-envelope fa-lg mx-3"></i>
        <i class="fas fa-users fa-lg mx-3"></i>
        <div class="dropdown d-inline">
            <a href="#" data-toggle="dropdown" style="color: inherit; text-decoration:none">
                <i class="fas fa-cog fa-lg ml-3"></i>
                <i class="fas fa-caret-down fa-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right mt-4">
                <a asp-controller="Account" asp-action="Register" class="dropdown-item">Register</a>
                <a asp-controller="Account" asp-action="Login" class="dropdown-item">Login</a>
                <a asp-controller="Account" asp-action="UpdateAccount" asp-route-id="@currentUserService.GetUserId()" class="dropdown-item">Settings</a>
                <div class="dropdown-divider"></div>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
