@using DieteticSNS.Application.Common.Interfaces
@inject ICurrentUserService currentUserService

<div class="card my-4 text-center">
    <div class="card-header pb-3">
        <b>Settings</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0">
            <a asp-controller="Account" asp-action="UpdateAccount" class="dropdown-item p-2">Basic</a>
        </li>
        <li class="list-group-item p-0">
            <a asp-controller="Account" asp-action="UpdateNotifications" class="dropdown-item p-2">Notifications</a>
        </li>
    </ul>
</div>