@model DieteticSNS.WebUI.Models.Account.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<form method="post" autocomplete="off">
    <h3 class="text-center pb-3 text-secondary">CHANGE PASSWORD</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="CurrentPassword" type="password" class="form-control form-control-lg" placeholder="Current password">
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div class="form-group">
        <input asp-for="NewPassword" type="password" class="form-control form-control-lg" placeholder="New password">
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="New password">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit" class="btn btn-secondary mt-3 px-3"><i class="fas fa-key"></i> Update</button>
</form>
