@model DieteticSNS.Application.Models.Users.Commands.UpdateUser.UpdateUserCommand

@{
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

<div class="row justify-content-between align-items-center">
    <div class="col-auto">
        <h3>Update user</h3>
    </div>
    <div class="col-auto">
        <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Back</a>
    </div>
</div>

<hr class="my-4">

<div class="jumbotron">
    <form method="post" autocomplete="off">
        <input asp-for="Id" hidden />
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="FirstName" for="firstName" class="col-form-label"><b>First name</b></label>
            </div>
            <div class="col-10">
                <input asp-for="FirstName" type="text" id="firstName" class="form-control" placeholder="Enter first name">
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="LastName" for="lastName" class="col-form-label"><b>Last name</b></label>
            </div>
            <div class="col-10">
                <input asp-for="LastName" type="text" id="lastName" class="form-control" placeholder="Enter last name">
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="BirthDate" for="birthDate" class="col-form-label"><b>Birth date</b></label>
            </div>
            <div class="col-10">
                <input asp-for="BirthDate" type="date" id="birthDate" class="form-control">
                <span asp-validation-for="BirthDate"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="Gender" for="gender" class="col-form-label"><b>Gender</b></label>
            </div>
            <div class="col-10">
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<DieteticSNS.Domain.Enumerations.Gender>()" id="gender" class="selectpicker w-100"
                        title="Choose..." data-style="custom-select">
                    <option selected="selected" value="">Choose...</option>
                </select>
                <span asp-validation-for="Gender"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="ProfilePicURL" for="profilePicURL" class="col-form-label"><b>ProfilePicURL</b></label>
            </div>
            <div class="col-10">
                <input asp-for="ProfilePicURL" type="text" id="profilePicURL" class="form-control" placeholder="Enter profilePicURL">
                <span asp-validation-for="ProfilePicURL"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="CountryId" for="countryId" class="col-form-label"><b>Country</b></label>
            </div>
            <div class="col-10">
                <select asp-for="CountryId" asp-items="@ViewBag.Countries" id="countryId" class="selectpicker w-100" data-live-search="true"
                        title="Choose..." data-style="custom-select">
                    <option selected="selected" value="">Choose...</option>
                </select>
                <span asp-validation-for="Gender"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-auto offset-2 mt-2 pl-3">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>
