@model DieteticSNS.Application.Models.Users.Commands.UpdateUser.UpdateAccountCommand

@{
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

<div class="card my-4">
    <h4 class="card-header text-center">Basic settings</h4>

    <div class="card-body">
        <form id="deleteAvatar" asp-controller="Account" asp-action="DeleteAvatar" asp-route-id="@Model.Id" method="post"></form>
        <form method="post" autocomplete="off" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="form-group row">
                <div class="col-2 text-right">
                    <label asp-for="FirstName" for="firstName" class="col-form-label"><b>First name</b></label>
                </div>
                <div class="col-10">
                    <input asp-for="FirstName" type="text" id="firstName" class="form-control" placeholder="Enter first name">
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 text-right">
                    <label asp-for="LastName" for="lastName" class="col-form-label"><b>Last name</b></label>
                </div>
                <div class="col-10">
                    <input asp-for="LastName" type="text" id="lastName" class="form-control" placeholder="Enter last name">
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 text-right">
                    <label asp-for="BirthDate" for="birthDate" class="col-form-label"><b>Birth date</b></label>
                </div>
                <div class="col-10">
                    <input asp-for="BirthDate" type="date" id="birthDate" class="form-control">
                    <span asp-validation-for="BirthDate"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 text-right">
                    <label asp-for="Gender" for="gender" class="col-form-label"><b>Gender</b></label>
                </div>
                <div class="col-10">
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<DieteticSNS.Domain.Enumerations.Gender>()" id="gender" class="selectpicker w-100" data-style="custom-select">
                        <option selected="selected" value="">-</option>
                    </select>
                    <span asp-validation-for="Gender"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 text-right">
                    <label asp-for="Avatar" for="photo" class="col-form-label"><b>Avatar</b></label>
                </div>
                @if (ViewBag.HasAvatar != null && ViewBag.HasAvatar)
                {
                    <div class="col pr-0">
                        <div class="custom-file">
                            <input asp-for="Avatar" type="file" id="photo" class="form-control custom-file-input" accept="image/*">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <span asp-validation-for="Avatar"></span>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete avatar <i class="far fa-trash-alt"></i></button>
                        <div class="modal fade" id="deleteModal" tabindex="-1">
                            <div class="modal-dialog modal-sm modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete confirmation</h5>
                                        <button type="button" class="close" style="outline: none" data-dismiss="modal"><span>&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to delete avatar?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger" form="deleteAvatar">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-10">
                        <div class="custom-file">
                            <input asp-for="Avatar" type="file" id="photo" class="form-control custom-file-input" accept="image/*">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                        <span asp-validation-for="Avatar"></span>
                    </div>
                }
            </div>
            <div class="form-group row">
                <div class="col-2 text-right">
                    <label asp-for="CountryId" for="countryId" class="col-form-label"><b>Country</b></label>
                </div>
                <div class="col-10">
                    <select asp-for="CountryId" asp-items="@ViewBag.Countries" id="countryId" class="selectpicker w-100" data-style="custom-select" data-live-search="true" data-size="7">
                        <option selected="selected" value="">-</option>
                    </select>
                    <span asp-validation-for="CountryId"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-auto offset-2 mt-2 pl-3">
                    <button type="submit" class="btn btn-dark">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section LeftPanel
{
    <partial name="Layout/_UserProfile" />
}

@section RightPanel
{
    <partial name="Layout/_SettingsList" />
}

@section Scripts
{
    <script src="~/js/changeFileLabelHtml.js"></script>
}
