@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <div class="col-auto">
                <h3>Welcome</h3>
            </div>
        </div>

        <hr class="my-4">

        <h5 class="mb-4">Dieteticer is a friendly, supportive and welcoming social networking site for everone.</h5>
        <h5 class="mb-4">
            <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Sign up</a> to see photos and recipes from your friends.
        </h5>
        <h5 class="mb-4">
            Have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Log in</a>
        </h5>

        <hr class="my-4">

        <h4 class="mb-4">Informacje o programie:</h4>
        <h5 class="mb-4">System został stworzony na Wydziale Informatyki Politechniki Białostockiej.</h5>
        <h5 class="mb-4">Autor: Kamil Dołęgiewicz</h5>
    </div>
    <div class="col-2"></div>
</div>

@section Scripts
{
    <script src="~/js/changeFileLabelHtml.js"></script>
}
