@{
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
</div>

<div class="media">
    <img class="mr-3" src="http://icons.iconarchive.com/icons/hopstarter/3d-cartoon-vol3/64/Axialis-Icon-Workshop-Classic-icon.png" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <div class="media mt-3">
            <a class="pr-3" href="#">
                <img src="http://icons.iconarchive.com/icons/hopstarter/3d-cartoon-vol3/64/Axialis-Icon-Workshop-Classic-icon.png" alt="Generic placeholder image">
            </a>
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

    </div>
</div>

<ul class="list-unstyled">
    <li class="media">
        <img class="mr-3" src="http://icons.iconarchive.com/icons/hopstarter/3d-cartoon-vol3/64/Axialis-Icon-Workshop-Classic-icon.png" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </li>
    <li class="media my-4">
        <img class="mr-3" src="http://icons.iconarchive.com/icons/hopstarter/3d-cartoon-vol3/64/Axialis-Icon-Workshop-Classic-icon.png" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </li>
    <li class="media">
        <img class="mr-3" src="http://icons.iconarchive.com/icons/hopstarter/3d-cartoon-vol3/64/Axialis-Icon-Workshop-Classic-icon.png" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </li>
</ul>