@model DieteticSNS.Application.Models.Ingredients.Queries.GetIngredientsList.IngredientListModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul>
    @foreach (var item in Model.Ingredients)
    {
        <li>@item.Name @item.Protein @item.Carbohydrate @item.Fat</li>
    }
</ul>