@model DieteticSNS.Application.Models.Ingredients.Commands.UpdateIngredient.UpdateIngredientCommand

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row justify-content-between align-items-center">
    <div class="col-auto">
        <h3>Update ingredient</h3>
    </div>
    <div class="col-auto">
        <a asp-controller="Ingredients" asp-action="GetIngredientList" class="btn btn-dark">Back to list</a>
    </div>
</div>

<hr class="my-4">

<div class="jumbotron">
    <form method="post">
        <input asp-for="Id" hidden />
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="Name" for="name" class="col-form-label"><b>Name</b></label>
            </div>
            <div class="col-10">
                <input asp-for="Name" type="text" id="name" class="form-control" placeholder="Enter name" autocomplete="off">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="Protein" for="protein" class="col-form-label"><b>Protein</b></label>
            </div>
            <div class="col">
                <input asp-for="Protein" type="number" id="protein" class="form-control" min="0" max="100" onkeyup="calculateCalories()">
                <span asp-validation-for="Protein"></span>
            </div>
            <div class="col-auto col-form-label text-muted pl-0">g/100g</div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="Carbohydrate" for="carbohydrate" class="col-form-label"><b>Carbohydrate</b></label>
            </div>
            <div class="col">
                <input asp-for="Carbohydrate" type="number" id="carbohydrate" class="form-control" min="0" max="100" onkeyup="calculateCalories()">
                <span asp-validation-for="Carbohydrate"></span>
            </div>
            <div class="col-auto col-form-label text-muted pl-0">g/100g</div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="Fat" for="fat" class="col-form-label"><b>Fat</b></label>
            </div>
            <div class="col">
                <input asp-for="Fat" type="number" id="fat" class="form-control" min="0" max="100" onkeyup="calculateCalories()">
                <span asp-validation-for="Fat"></span>
            </div>
            <div class="col-auto col-form-label text-muted pl-0">g/100g</div>
        </div>
        <div class="form-group row mt-4">
            <div class="col-2 text-right">
                <label for="calories" class="col-form-label"><b>Calories</b></label>
            </div>
            <div class="col-2">
                <input type="number" id="calories" class="form-control" value="@ViewBag.Calories" disabled>
            </div>
            <div class="col-auto col-form-label text-muted pl-0">kcal/100g</div>
        </div>
        <div class="row">
            <div class="col-auto offset-2 mt-2">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/calculateCalories.js"></script>